button{
    background-color: #1abc9c !important;
}
.top{
    top: 40px !important;
}

label{
    color: #1abc9c;
    margin-bottom: 7px;
    transition: .6s top;
}
input{box-shadow: none !important;}